/* You can add global styles to this file, and also import other style files */

@import './reset.css';
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

.container-fluid { 
    padding-right:0;
    padding-left:0;
}

.wrapper{
    padding: 65px 10px 10px 10px;
}

a{
    color: rgb(33, 37, 41);
}
  